body{
	font-family: Raleway;
}

header, main{
	margin-left: 50px;
}
			/* Header */
header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 85px;
}
.list_nav{
	display: flex;
	align-items: baseline;
}
.li_nav{
	display: flex;
	list-style-type: none;
	padding-right: 32px;
	padding-left: 32px;
	
}
.bord_li{
	border-top: 3px #0065fc solid;
	padding-top: 55px;
}
a{
	text-decoration: none;
	color: inherit;
}                          /* Fin de header */
			
						   /* Champ de recherche */
h1{
	margin-bottom: 10px;
}
form{
	border: 1px #f2f2f2 solid;
	border-radius: 10px;
	height: 49px;
	width: 418px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}
.icon_local{
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
	background-color: #f2f2f2; 
	width: 50px;
	height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
 }
.champ_recherche{
	border: 1px white solid;
	height: 45px;
	width: 234px;
	font-weight: bold;
	font-size: 1.1em;
}
.btn_champ_recherche{
	border: none;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	width: 132px;
	height: 51px;
	background-color: #0065fc;
	color: white;
	font-size: 1.1em;
}
i.btn_loupe{
	display: none;
}
.btn_recherche, .champ_recherche, button:focus{
	outline: 0;
	}					/* fin de recherche  */
						/* Bouton filtre  */
.section_filtres{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 30px;
}
.h3_filtres{
	margin-right: 32px;
}
.ctn_button{
	display: flex;
	flex-wrap: wrap;
}
.btn_filtre{
	margin-right: 25px;
	padding-right: 18px;
	border: 2px #d9d9d9 solid;
	border-radius: 25px;
	background-color: white;
	height: 48px;
	display: flex;
	align-items: center;
	padding-left: 0;
	font-weight: bold;
	font-size: 1.1em;
}
i.ftn_icon_filtre{
	background-color: #deebff;
	color: #0065fc;
	height: 48px;
	width: 48px;
	border-radius: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 13px;
	margin-left: -2px;
}
.btn_filtre:hover{
	color: #0065fc;
	transform: scale(1.09);
	box-shadow: 15px 10px 15px -6px rgba(0,0,0,0.2);
	background-color: #deebff;
	border: none;
	display: flex;
	flex-direction: row-reverse;
	padding-left: 20px;
	padding-right: 0;
}
					/*Fin bouton filtre */
.fa-info{
	border: 0.01em #d9d9d9 solid;
	padding: 6px 10px 6px 10px;
	border-radius: 100%;
	margin-right: 15px;
	color: #0065fc;
}
.p_filtres{
	margin-top: 35px;
	margin-bottom: 35px;
	flex-wrap: wrap;
}
					/*section qui englobe hebergement et populaire */
.div_tout_hebergement{  
	width: 100%;
	display: flex;
}
.h2_marge{
	margin-bottom: 5px;
	margin-top: 45px;
}
figure{   /* ombre commune a toute les figure du site */
	box-shadow: 2px 4px 15px -3px rgba(0,0,0,0.1);
}
						/* box h2 vignette et p de hebergement */
.section_hebergement{  
	background-color: #f2f2f2;
	width: 70%;
	max-width: 880px;
	height: 100%;
	min-height: 626px;
	display: flex;
	flex-direction: column;
	border-radius: 18px;
	margin-right: 40px;
}
.text_hebergement{
	font-weight: bold;
	margin-left: 40px;
}
.ctn_vignettes_hebergement{			
	margin-left: 25px;
	display: flex;
	flex-wrap: wrap;
}
.vignette_hebergement{
	border: 5px #FFF solid;
	border-radius: 18px;
	width: 235px;
	height: 190px;
	margin: 15px;
	background-color: white;
}
.img_hebergement{
	width: 235px;
	height: 114px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.figcap_hebergement{
	line-height: 35%;
	font-size: 0.9em;
}				
.fa-star{        /* icon */
	font-size: 0.8em;
}
.color_blue{
	color: #0065fc;
}
.grey_star{
	color: #d9d9d9;
}
				/* Qui contient les vignette populaire */
.section_populaire{
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	height: 626px;
	max-width: 420px;
	border-radius: 18px;
}
.titre_populaire{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	font-weight: bold;
}
.fa-chart-line{
	font-size: 1.4em;
}
.vignette_populaire{
	width: 333px;
	height: 134px;
	border: 5px #FFF solid;
	border-radius: 18px;
	background-color: white;
	display: flex;
}
.img_populaire{
	width: 127px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.figcap_populaire{
	padding-left: 20px;
	font-size: 0.9em;
	line-height: 120%;
}		
.h2_activite{       /* ACTIVITES  */
	margin-top: 65px;
}
.ctn_vignette_activite{
	display: flex;
	flex-wrap: wrap;
}
.ctn_activite_gauche, .ctn_activite_droit{
	display: flex;
}
.vignette_activite1, .vignette_activite2, .vignette_activite3{
	width: 301px;
	border: 1px #f2f2f2 solid;
	border-radius: 18px;
	margin: 0;
	margin-bottom: 43px;
}
.vignette_activite1, .margin_right{
	margin-right: 45px;
}
.vignette_activite1{
	height: 446px;
}
.vignette_activite2{
	height: 223px;
}
.vignette_activite3{
	height: 178px;
}
.img_activite{
	width: 301px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	height: calc(100% - 55px);
	object-fit: cover;
}
.figcap_activite{
	height: 55px;
	padding-left: 20px;
}
			/* Footer*/
footer{
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
}
.h3_footer{
	margin-top: 45px;
}
.list_footer{
	margin-bottom: 30px;
	padding: 0;
	list-style-type: none;
	line-height: 2;
}
		/* MEDIA QUERIES */
@media screen and (max-width: 1120px){
	header{
		height: auto;
		flex-wrap: wrap;
		align-items: center;
		margin: 0;
	}
	main{
		margin-left: 20px;
		margin-right: 20px;
	}
	.img_logo{
		padding-left: 20px;
	}
	ul.list_nav{
		padding-left: 0;
	}
	.bord_li, .bord_gris{
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: none;
		border-right: 2px #deebff solid;
	}
	.btn_filtre{
		margin-bottom: 13px;
	}
	.div_tout_hebergement{
		flex-direction: column-reverse;
	}
	.section_populaire{
		max-width: 880px;
		margin-bottom: 45px;
	}
	.titre_populaire{
		margin-left: 40px;
		width: 90%;
		justify-content: space-between;
	}
	.lien_populaire {
		width: 100%;
	}
	.vignette_populaire{
		width: auto;
	}
	.img_populaire{
		width: 30%;
	}
	.section_hebergement{
		width: 100%;
		margin: 0;
	}
	.ctn_vignettes_hebergement{
		margin: 0;
	}
	.lien_vignette{
		margin: auto;
	}
	.section_activite{
		max-width: 880px;
	}
	.h2_activite{
		margin-left: 40px;
	}
	.vignette_activite1, .vignette_activite2, .vignette_activite3{
		height: 250px;
		margin-right: 0;
	}
	.ctn_activite_gauche, .ctn_activite_droit{
		flex-direction: column;
		margin: auto;
	}
	footer{
		justify-content: space-around;
	}
}

@media screen and (max-width: 500px){
	body, main, .titre_populaire, .list_footer{
		margin: 0;
	}
	main{
		padding-left: 20px;
	}
	header{
		position: sticky;
		top: 0;
		background-color: white;
		height: 132px;
		align-items: flex-start;
		flex-direction: column;
		flex-wrap: nowrap;
	}
	.img_logo{
		padding: 20px;
	}
	nav{
		width: 100%;	
	}
	.li_nav{
		padding: 0;
	}
	.list_nav{
		margin: 0;
	}
	.sinscrire{
		position: absolute;
		top: 2.6em;
		right: 1.8em;
	}
	.bord_li, .bord_gris, .btn_loupe, .section_populaire, .ctn_vignette_populaire, .ctn_activite_gauche, .ctn_activite_droit{
		justify-content: center;
	}
	.bord_li, .bord_gris{
		width: 50%;
		padding-bottom: 15px;
		border-bottom: 3px #0065fc solid;
		border-right: none;
	}
	.bord_gris{
		border-bottom: 3px #deebff solid;
	}
	form{
		max-width: 333px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.btn_recherche{
		display: none;
	}
	.btn_champ_recherche{
		border-radius: 20px;
		width: 52px;
		height: 50px;
	}
	i.btn_loupe{
		display: flex;
	}
	.btn_filtre{
		margin-right: 10px;
	}
	.btn_romantique{
		margin-right: 20px;
	}
	.fa-info{
		float: left;
	}
	.div_tout_hebergement{
		width: auto;
		margin-left: -20px;
	}
	.vignette_populaire, .vignette_hebergement, .vignette_activite1, .vignette_activite2, .vignette_activite3, .img_hebergement, .img_activite, .h2_marge, .text_hebergement{
		max-width: 324px;
		width: 100%;
	}
	.section_populaire{
		border-radius: 0;
		margin-bottom: 0;
		align-items: center;
	}
	.titre_populaire{
		width: 334px;
	}
	.ctn_vignette_populaire, .h2_marge, .text_hebergement{
		margin-left: 0;
	}
	.lien_populaire{
		width: auto;
	}
	.vignette_populaire{
		margin: 15px;
	}
	.img_populaire{
		width: 127px;
	}
	.section_hebergement{
		align-items: center;
		background-color: white;
	}
	.vignette_hebergement{
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: 0;
	}
	.section_activite{
		margin-bottom: 25px;
		margin-left: -20px;
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.h2_activite{
		margin: 0;
		width: 334px;
		margin-top: 30px;
		margin-bottom: 20px;
	}
	.vignette_activite1, .vignette_activite2, .vignette_activite3{
		height: 190px;
		margin-bottom: 25px;
		margin-right: 0;
	}
	footer{
		flex-direction: column;
		padding-bottom: 20px;
	}
	.h3_footer{
		margin-left: 20px;
	}
	.list_footer{
		margin-left: 20px;
	}
}