body{
	font-family: Raleway;
}

header, main{
	margin-left: 50px;
}
			/* Header */
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	height: 85px;
	width: auto;
}
.nav{
	display: flex;
	flex-direction: row;
	align-items: baseline;
}
li{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding-right: 32px;
	padding-left: 32px;
	
}
.bord_li{
	border-top: 3px #0065fc solid;
	padding-top: 55px;
}
a{
	text-decoration: none;
	color: inherit;
}                          /* Fin de header */
			
						   /* Champ de recherche */
h1{
	margin-bottom: 10px;
}

form{
	border: 1px #f2f2f2 solid;
	border-radius: 10px;
	height: 49px;
	width: 418px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}
.icon_local{
	border: 1px #f2f2f2 solid;
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
	background-color: #f2f2f2; 
	width: 50px;
	height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
 }
.champ_recherche{
	border: 1px white solid;
	height: 45px;
	width: 234px;
	font-weight: bold;
	font-size: 1.1em;
}
.btn_recherche{
	border: 1px #0065fc solid;
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
	width: 132px;
	height: 51px;
	background-color: #0065fc;
	color: white;
	font-size: 1.1em;
}
.btn_loupe{
	display: none;
}
.btn_recherche, .champ_recherche, button:focus{
	outline: 0;
	}					/* fin de recherche  */
						/* Bouton filtre  */

.filtres{
	display: flex;
	flex-direction: row;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 30px;
}
.h3_flt{
	margin-right: 32px;
}
.ctn_button{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
button{
	margin-right: 25px;
	padding-right: 18px;
	border: 2px #d9d9d9 solid;
	border-radius: 25px;
	background-color: white;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 0;
	font-weight: bold;
	font-size: 1.1em;
}
i.ftn_icon_filtre{
	background-color: #deebff;
	color: #0065fc;
	height: 48px;
	width: 48px;
	border-radius: 48px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-right: 13px;
	margin-left: -2px;
}
button:hover{
	color: #0065fc;
	transform: scale(1.09);
	box-shadow: 20px 10px 25px -6px rgba(0,0,0,0.2);
	background-color: #deebff;
	border: 1px #deebff solid;
	display: flex;
	flex-direction: row-reverse;
	padding-left: 20px;
	padding-right: 0;
}

					/*Fin bouton filtre */
.fa-info{
	border: 0.01em #d9d9d9 solid;
	padding: 6px 10px 6px 10px;
	border-radius: 100%;
	margin-right: 15px;
	color: #0065fc;
}
.p_500{
	margin-top: 35px;
	margin-bottom: 35px;
	flex-wrap: wrap;
}
					/*section qui englobe hebergement et populaire */
.sect_tout_hebergement{  
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: space-around;
}
.h2_marg{
	margin-bottom: 5px;
	margin-top: 45px;
}

figure{   /* ombre commune a toute les figure du site */
	box-shadow: 2px 4px 15px -3px rgba(0,0,0,0.1);
}
						/* box h2 vignette et p de hebergement */
.box_hebergement{  
	background-color: #f2f2f2;
	width: 70%;
	max-width: 880px;
	height: 100%;
	min-height: 626px;
	display: flex;
	flex-direction: column;
	border-radius: 18px;
	margin-right: 40px;
}
.text_hebergement{
	font-weight: bold;
	margin-left: 40px;
}
					/* qui contient les 6 figures hebergement */
.ctn_vignettes_hebergement{			
	margin-left: 25px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.vignette_hebergement{
	border: 5px white solid;
	border-radius: 18px;
	width: 235px;
	height: 190px;
	margin: 15px;
	background-color: white;
}
.img_hebergement{
	width: 235px;
	height: 114px;
	object-fit: cover;
	margin: 0;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.figcap_hebergement{
	width: 235px;
	height: 76px;
	margin: 0;
	line-height: 35%;
	font-size: 0.9em;
}
				/* icon */
.fa-star{
	font-size: 0.8em;
}
.color_blue{
	color: #0065fc;
}

.grey_star{
	color: #d9d9d9;
}
				/* Qui contient les vignette populaire */
.box_populaire{
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	height: 626px;
	width: 30%;
	max-width: 420px;
	border-radius: 18px;
}
.titre_populaire{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	font-weight: bold;
}
.fa-chart-line{
	font-size: 1.4em;
}
.vignette_populaire{
	width: 333px;
	height: 134px;
	border: 5px white solid;
	border-radius: 18px;
	background-color: white;
	display: flex;
	flex-direction: row;
}
.img_populaire{
	width: 127px;
	height: 134px;
	object-fit: cover;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.figcap_populaire{
	padding-left: 20px;
	font-size: 0.9em;
	line-height: 120%;
}

			/* ACTIVITES  */
.h2_act{
	margin-top: 65px;
}
.box_activité{
	display: flex;
	width: 100%;
	flex-direction: row;
	margin-bottom: 60px;
}
.box_activité2{
	display: flex;
	flex-direction: column;
}
.vignette_act1, .vignette_act2, .vignette_act3{
	width: 301px;
	border: 1px #f2f2f2 solid;
	border-radius: 18px;
	display: block;
	margin: 0;
}
.vignette_act1, .margin_right{
	margin-right: 45px;
}
.vignette_act1{
	height: 446px;
}
.vignette_act2{
	height: 223px;
}
.vignette_act3{
	height: 178px;
}
.img_act1, .img_act2, .img_act3{
	width: 301px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}
.img_act1, .img_act2, .img_act3{
	height: calc(100% - 55px);
	object-fit: cover;
}

.figcap_activité{
	height: 55px;
	padding-bottom: 25px;
	padding-left: 20px;
	margin: 0;
}
.margin_bottom{
	margin-bottom: 43px;
}

			/* Footer*/

footer{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
}

.foot_h3{
	margin-top: 45px;
}

.foot_list{
	margin-bottom: 30px;
	margin-left: -70px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	line-height: 2;
}
		/* MEDIA QUERIES */
@media screen and (max-width: 500px){
	body{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	main{
		margin-left: 12px;
	}
	header{
		justify-content: space-between;
		align-items: flex-start;
		margin-left: 0px;
		height: auto;
		width: 100%;
	}
	
	nav{
		display: flex;
		
	}
	.li_nav{
		padding: 0;
		text-align: center;
	}
	.nav{
		flex-wrap: wrap-reverse;
		justify-content: flex-end;
	}
	.bord_li{
		border-top: none;
		width: 50%;
		padding-top: 25px;
		padding-bottom: 15px;
		border-bottom: 3px #0065fc solid;
	}
	.bord_gris{
		width: 50%;
		padding-bottom: 15px;
		border-bottom: 3px #deebff solid;
	}
	.nav{
		padding: 0;
	}
	.recherche{
		flex-wrap: wrap;
	}
	form{
		width: 100%;
		max-width: 333px;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
	.btn_recherche{
		display: none;
	}
	.btn_loupe{
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px #0065fc solid;
		border-radius: 20px;
		width: 50px;
		height: 50px;
		background-color: #0065fc;
		color: white;
		font-size: 1.1em;
	}

	.filtres{
		flex-wrap: wrap;
	}
	button{
		margin-right: 10px;
		margin-bottom: 13px;
		padding-right: 5px;
	}
	.fa-info{
		float: left;
	}
	.sect_tout_hebergement{
		flex-direction: column-reverse;
		align-items: flex-start;
		height: 100%;
		margin-left: -20px;
	}
	.vignette_populaire, .vignette_hebergement, .vignette_act1, .vignette_act2, .vignette_act3, .img_hebergement, .img_act1, .img_act2, .img_act3{
		width: 324px;
	}
	.box_populaire{
		border-radius: 0;
		display: block;
		width: auto;
	}
	.titre_populaire{
		width: 334px;
		justify-content: space-between;
	}
	.vignette_populaire{
		height: 134px;
		margin-left: 20px;
		margin-bottom: 10px;
	}
	.box_hebergement{
		height: 100%;
		background-color: white;
	}
	
	.ctn_vignettes_hebergement{
		flex-direction: column;
		flex-wrap: nowrap;
		margin-left: 0;
	}
	.vignette_hebergement{
		height: 190px;
		margin-bottom: 10px;
	}
	.h2_marg, .text_hebergement{
		margin-left: 0;
		padding-left: 20px;
	}
	.box_activité{
		flex-direction: column;
		margin-bottom: 25px;
	}
	.vignette_act1, .vignette_act2, .vignette_act3{
		height: 190px;
		margin-bottom: 25px;
	}
	footer{
		flex-direction: column;
		margin-left: -8px;
		padding-bottom: 20px;
		width: 100%;
	}
	.foot_h3{
		margin-left: 20px;
	}
	.foot_list{
		margin: 0;
		margin-left: -55px;
	}
	
	
	
	
	
	
	
	
	
	
	
}